<div class="view-section-result">
    {{> reportTitle.hbs }}
    <div class="panel-default panel">
        {{> reportHeader.hbs }}
        {{> reportSummaryJson.hbs }}
        {{> reportControls.hbs }}
    </div>
    {{> reportDetails.hbs clickableItems=true includeInputModal=true }}
</div>